body{
    background-color: mistyrose;
}
.menu{
    text-align: center;
    font-size: 60px;
}
.conteudo{
    
}
.grid{
    display: grid;
    grid-template-columns: 300fr 300fr 300fr;
    height: 200px;
    grid-gap: 20px;
    text-align: left;
    
}
.grid div{
    font-size: 1.6rem;
    background-color: mistyrose;
}
.beef{
    text-align: right;
    color: red; 
    font-weight: bolder;    
    z-index: 1;  
}
.content1{
    text-align: left;
    color: black;
    background-color: aqua;
    margin-top: 0;
    box-shadow: 2px 2px 2px black;
}
.fish{
    text-align: right;
    color: blueviolet;
    font-weight: bolder;
}
.content2{
    text-align: left;
    color: black;
    background-color: aqua;
    margin-top: 0;
    box-shadow: 2px 2px 2px black;
}
.pasta{
    text-align: right;
    color: yellow;
    font-weight: bolder;
}
.content3{
    text-align: left;
    color: black;
    background-color: aqua;
    margin-top: 0;
    box-shadow: 2px 2px 2px black;
}
